<html>
<head>
	<meta charset="utf-8">
	<title>expenses planner</title>
	<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
	<style type="text/css">
		.short-input{
			width:6em;
		}
		table.spreadsheet {
			border-collapse: collapse;
		}
		.spreadsheet input,.spreadsheet select{
			border:0;margin:0;outline:0;
			background:0;
		}
		.spreadsheet>tbody,.spreadsheet>tbody>tr,.spreadsheet>tbody>tr>th{
			margin:0;outline:0;padding:2px;
		}
		.spreadsheet>tbody>tr{
			border-bottom:1px solid #999;
		}
		.spreadsheet>tbody>tr.new-item{
			border-top:1px solid #999;
			background:#EEE;
			color:#222;
		}
		.grey-feedback{
			font-size: 10px;
			color:#555;
		}
		.focused{
			border:1px solid #F33;
		}
	</style>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="ng-drag-drop.js"></script>
	<script src="ng-key.js"></script>
	<script type="text/javascript" src="bower_components/file-saver/FileSaver.js"></script>
	<script src="bower_components/nvd3/build/nv.d3.js"></script>
	<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
	<script>
		angular.module("xpenses",["nvd3","ng-drag-drop","ng-key"])
		.filter("toFixed",function(){
			return function(input, digits){
				return input.toFixed(digits||2)
			}
		})
		.factory("loans",function(){
			return {
				monthlyPayment:_monthlyPayment
			}
			function _monthlyPayment(parms){
				var monthlyInterest=Math.pow(1+parms.interest/100,1/12)-1;
				return parms.sum*monthlyInterest/(1 - 1/Math.pow(1+monthlyInterest,parms.months))
			}
		})
		.controller("mainController",function MainController($scope,$timeout,$http,loans){
			var _main=this;
			var TOTAL={key:"TOTAL",values:[],def:{name:"TOTAL"},area: true};

			$scope.appData={
				ver:"1.0.0",
				name:"expenses"
			}
			$scope.model={}
			$scope.options = {
				chart: {
					type: 'lineChart',
					height: 450,
					margin : {
							top: 20,
							right: 20,
							bottom: 60,
							left: 65
					},
					padding : {
							top: 20,
							right: 20,
							bottom: 20,
							left: 20
					},
					x: function(d){ return (d&&d[0])||0; },
					y: function(d){ return (d&&d[1])||0; },
					average: function(d) { return d.mean; },

					color: d3.scale.category10().range(),
					duration: 300,
					useInteractiveGuideline: true,
					clipVoronoi: false,

					xAxis: {
							axisLabel: 'X Axis',
							tickFormat: function(d) {
									return d3.time.format('%m/%y')(new Date(d))
							},
							showMaxMin: false,
							staggerLabels: true
					},

					yAxis: {
							axisLabel: 'Y Axis',
							tickFormat: function(d){
									return d3.format('.2f')(d);
							},
							axisLabelDistance: 20
					}/*,
			    "zoom": {
			      "enabled": true,
			      "scaleExtent": [
			        1,
			        10
			      ],
			      "useFixedDomain": true,
			      "useNiceScale": false,
			      "horizontalOff": false,
			      "verticalOff": true,
			      "unzoomEventType": "dblclick.zoom"
			    }*/
				}
			};
			$scope.newPayment={};
			$scope.normalizeModel=normalizeModel;
			$scope.data = [TOTAL];

			_main.keyPress=function($type,$stream){
				console.log("$key",$stream);
				switch($stream){
					case "ctrl-shift-S":
						var mod=Object.keys($scope.model).reduce(function(ac,k){
							var e=angular.extend({},$scope.model[k])
							delete e.$$hashKey;
							ac[e.name]=e;
							return ac;
						},{});
						var pl=JSON.stringify($scope.model,null,2)
						var blob = new Blob([pl], {type: "text/plain;charset=utf-8"});
						saveAs(blob,"projection-model.json");
					break;
					case "ctrl-shift-S":

					break;
				}
			}
			_main.dropFiles=function($event,$files){
				//console.log("dropFiles",$event,$files);
				var x=JSON.parse($files[0].content);
				console.log(x);
				$scope.model=Object.keys(x).reduce(function(ac,k){
					v=x[k]
					v.startDate=new Date(v.startDate)
					v.endDate=new Date(v.endDate);
					ac[v.name]=v;
					return ac;
				},{})
				update();
				$apply();
			}
			function normalizeModel(def){
				var sm=def.startDate.getFullYear()*12+def.startDate.getMonth();
				var em=def.endDate.getFullYear()*12+def.endDate.getMonth();
				switch(def.type){
					case "PAYMENT":
						def.interest=0
						def.sum=(em-sm)*def.monthlyPayment;
					break;
					case "LOAN":
						def.monthlyPayment=loans.monthlyPayment({months:em-sm,sum:def.sum,interest:def.interest})
					break;
				}
				//console.log(def);
				return def;
			}
			function getTotalValue(date){
				var sum=Object.keys($scope.model)
					.reduce(function(ac,k){
						if(k=="TOTAL")return ac;
						var def=$scope.model[k];
						ac+=def.getValue(date);
						return ac;
					},0);
					return sum;
			}
			function update(){
				var span=getSpanTotal();
				var ts = new Date(span.startDate),
				te = new Date(span.endDate);

				TOTAL.values=[
					[ new Date(span.startDate),0,1],
					[ new Date(span.endDate),0,-1]
				];
				var tt={};
				tt[ts.getTime()]=0;
				tt[te.getTime()]=0;

	 			$scope.data = [TOTAL];
				Object.keys($scope.model)
				.forEach(function(k){
					var def=normalizeModel($scope.model[k]);
					$scope.model[k]=def;
					var cs = new Date(def.startDate)
					,ce = new Date(def.endDate);
					def.variation=(def.paymentPlan=="GROWING")?(def.monthlyPayment/5):(def.paymentPlan=="DESCENDING")?(-def.monthlyPayment/5):0;
					var startValue=def.monthlyPayment-def.variation,endValue=def.monthlyPayment+def.variation
					var schedule=[
						[ts,0],
						[cs,0],
						[cs,startValue],
						[ce,endValue],
						[ce,0],
						[te,0]
					];
					def.getValue=function(date){
						if(date.getTime()<cs.getTime() || date.getTime()>ce.getTime() || def.ignore )return 0;
						else return startValue+(startValue-endValue)/(ce.getTime()-cs.getTime()+0.001)*(cs.getTime()-date.getTime())
					}

					tt[cs.getTime()]=true;
					tt[ce.getTime()]=true;

					$scope.data.push({
						key:def.name,
						values:schedule
					})
				});

				TOTAL.values=Object.keys(tt)
				.sort()
				.reduce(function(a,v,i,ar){
					var d=new Date(parseInt(v)),d1=new Date(parseInt(v)-1),d2=new Date(parseInt(v)+1)
					a.push([ d , getTotalValue( d1 ) ])
					a.push([ d , getTotalValue( d2 ) ])
					return a;
				},[])
				console.log(TOTAL.values)
				$apply();
			}
			$scope.addPayment=function(){
				var x=$scope.newPayment;
				$scope.model[x.name]=angular.extend({},x);
				update()
				$scope.newPayment={};
				$apply();
			}
			function updateSeries(def){
				var x=def;
				$scope.model[def.name]=angular.extend({},def);
			}
			function getSpanTotal(){
				var x=Object.keys($scope.model)
				.reduce(function(ac,k){
					var def=$scope.model[k];
					if(def.name=="TOTAL")return ac;
					ac.startDate=Math.min(ac.startDate,def.startDate);
					ac.endDate=Math.max(ac.endDate,def.endDate);
					return ac;

				},{startDate:Infinity,endDate:-Infinity});
				return x;
			}
			$scope.changed=function(name,def){
				$scope.model[name]=angular.extend({},def);
				//console.log(name,def);
				throttle(function(){
					update();
					$apply();
				},500);
				//
			}
			$scope.deleteLine=function(name){
				delete $scope.model[name];
				throttle(function(){
					update();
					$apply();
				},500);
				//
			}
			var st=0;
			function throttle(fn,t){
				clearTimeout(st);
				st=setTimeout(fn,t)
			}
			function $apply(){
				$timeout(function(){$scope.$apply();})
			}
		})
	</script>
</head>
<body ng-app="xpenses">
	<div ng-controller="mainController as _main" ng-drop-file="_main.dropFiles($event,$data)" ng-key="_main.keyPress($type,$stream)">
		<h4>{{appData.name}} / version {{appData.ver}}</h4>
		<nvd3 options="options" data="data"></nvd3>
		
		<table class="spreadsheet">
			<tbody>
				<tr>
					<th>name</th>
					<th>startDate</th>
					<th>endDate</th>
					<th>type</th>
					<th>monthly</th>
					<th>total</th>
					<th>interest</th>
					<th></th>
				</tr>
				<tr ng-repeat="(name,params) in model">
					<td><input type="text" ng-model="params.name" ng-change="changed(name,params)"></td>
					<td><input type="month" ng-model="params.startDate" ng-change="changed(name,params)"></td>
					<td><input type="month" ng-model="params.endDate" ng-change="changed(name,params)"></td>
					<td>
						<select ng-model="params.type" ng-change="changed(name,params)"><option value="PAYMENT">PAYMENT</option><option value="LOAN">LOAN</option></select><br ng-show="params.type=='LOAN'"/>
						<select ng-model="params.paymentPlan" ng-change="changed(name,params)" ng-show="params.type=='LOAN'"><option value="FLAT">FLAT</option><option value="GROWING">GROWING</option><option value="DESCENDING">DESCENDING</option></select><br ng-show="params.type=='LOAN'"/>
						<select ng-model="params.interestVariationPlan" ng-change="changed(name,params)" ng-show="params.type=='LOAN'"><option value="FIX">FIX</option><option value="10/5/5">10/5/5</option></select>
					</td>
					<td>
						<input class="short-input" type="number" ng-model="params.monthlyPayment" ng-show="params.type=='PAYMENT'" ng-change="changed(name,params)">
						<div class="grey-feedback" ng-show="params.type=='LOAN'">{{params.monthlyPayment | toFixed : 2}}</div>
					</td>
					<td>
						<input type="number" ng-model="params.sum" ng-show="params.type=='LOAN'" ng-change="changed(name,params)">
						<div class="grey-feedback" ng-show="params.type=='PAYMENT'">{{params.sum | toFixed : 2}}</div>
					</td>
					<td>
						<input class="short-input" type="number" ng-model="params.interest" ng-show="params.type=='LOAN'" ng-change="changed(name,params)">
						<div class="grey-feedback" ng-show="params.type=='PAYMENT'">{{params.interest | toFixed : 2}}</div>
					</td>
					<td>ignore<input type="checkbox" ng-model="params.ignore" ng-change="changed(name,params)"><button ng-click="deleteLine(name)">DEL</button></td>
				</tr>
				<tr class="new-item">
					<td><input type="text" ng-model="newPayment.name"></td>
					<td><input type="month" ng-model="newPayment.startDate" ng-change="normalizeModel(newPayment)"></td>
					<td><input type="month" ng-model="newPayment.endDate" ng-change="normalizeModel(newPayment)"></td>
					<td>
						<select ng-model="newPayment.type" ng-change="normalizeModel(newPayment)"><option value="PAYMENT">PAYMENT</option><option value="LOAN">LOAN</option></select><br ng-show="newPayment.type=='LOAN'"/>
						<select ng-model="newPayment.paymentPlan" ng-change="normalizeModel(newPayment)" ng-show="newPayment.type=='LOAN'"><option value="FLAT">FLAT</option><option value="GROWING">GROWING</option><option value="DESCENDING">DESCENDING</option></select><br ng-show="newPayment.type=='LOAN'"/>
						<select ng-model="newPayment.interestVariationPlan" ng-change="normalizeModel(newPayment)" ng-show="newPayment.type=='LOAN'"><option value="FIX">FIX</option><option value="10/5/5">10/5/5</option></select>
					</td>
					<td>
						<input class="short-input" type="number" ng-model="newPayment.monthlyPayment" ng-show="newPayment.type=='PAYMENT'" ng-change="normalizeModel(newPayment)">
						<div class="grey-feedback" ng-show="newPayment.type=='LOAN'">{{newPayment.monthlyPayment}}</div>
					</td>
					<td>
						<input type="number" ng-model="newPayment.sum" ng-show="newPayment.type=='LOAN'" ng-change="normalizeModel(newPayment)">
						<div class="grey-feedback" ng-show="newPayment.type=='PAYMENT'">{{newPayment.sum}}</div>
					</td>
					<td>
						<input class="short-input" type="number" ng-model="newPayment.interest" ng-show="newPayment.type=='LOAN'" ng-change="normalizeModel(newPayment)">
						<div class="grey-feedback" ng-show="newPayment.type=='PAYMENT'">{{newPayment.interest}}</div>
					</td>
					<td><button ng-click="addPayment()">ADD</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
